var config = {
	hostname: '', // irc domain name
	token: '', // telegram bot token
	group: '', // telegram group id (-123456789)
	http_port: 8080, // port for web chat
	ircd_port: 6667, // port for irc server
	ircd_channel: '#shoutbox', // irc channel
	history: 10, // keep n messages in history
	mpd_host: 'localhost', // mpd host
	mpd_port: 6600, // mpd port
	irc_nick: '',
	irc_host: '',
	irc_port: 6667,
	irc_channels: ['#foo', '#bar']
};

module.exports = config;
